:root {
    --teal: #5DCAD1;
    --mimosa: #F3CD74;
    --cyan: #71F8FF;
    --dark-blue: #1C2143;
}

body {
    background-image: linear-gradient(
        var(--teal), var(--dark-blue)
      );
}

/* CSS for header */
h1 {
    margin: 20px;
}
.header {
    margin: 0 auto;
    border-bottom: 1px solid white;
    width: 80%;
}

/* Splits containers */
.split {
    border: 1px solid red;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: auto 100px;
}

/* CSS for List container and options */
.list-container {
    border: 1px solid pink;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
}

input {
    margin-bottom: 10px;
}

select option {
    width: 125px;
}