:root {
    --teal: #5DCAD1;
    --mimosa: #F3CD74;
    --cyan: #71F8FF;
    --dark-blue: #1C2143;
}

body {
    background-image: linear-gradient(
        var(--teal), var(--dark-blue)
      );
      margin: 0;
      height: 100%;
      overflow: hidden;
}

/* CSS for header */
h1 {
    margin: 20px;
    font-family: Agbalumo, 'Times New Roman', Times, serif;
}



.header {
    margin: 0 auto;
    border-bottom: 1px solid white;
    width: 80%;
}

/* Splits containers */
.split {
    width: 80%;
    height: 600px;
    margin: auto;
}

/* CSS for List container and options */
.list-container {
    width: 250px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: scroll;
}

.input {
    margin-bottom: 10px;
    width: 200px;
}

button {
    width: 150px;
    margin: 4px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.city-container {
    width: 80%;
}

.current-container {
    height: 30%;
    width: 80%;
    overflow: scroll;
}

.currentDate {
    font-size: 20px;
}

.forcast-container {
    height: 60%;
    width: 95%;
    overflow: scroll;
}

.weekday {
    height: 300px;
    width: 150px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }

  .icon {
    height: 60px;
    width: 60px;
  }
  
  @media screen and (max-width: 700px) {
    body {
        margin: 0; 
        height: 100%; 
        overflow: hidden;
    }

    .current-container {
        margin-bottom: 20px;
    }

    .forcast-container {
        overflow: scroll;
    }

    .weekday {
        height: 200px;
        width: 150px;
        margin-bottom: 30px;
    }

  }