:root {
    --teal: #5DCAD1;
    --mimosa: #F3CD74;
    --cyan: #71F8FF;
    --dark-blue: #1C2143;
}

body {
    background-image: linear-gradient(
        var(--teal), var(--dark-blue)
      );
      height: 100vh;
      width: 100vw;
}

/* CSS for header */
h1 {
    margin: 20px;
}
.header {
    margin: 0 auto;
    border-bottom: 1px solid white;
    width: 50%;
}

/* Splits containers */
.split {
    border: 1px solid red;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

/* CSS for List container and options */
.list-container {
    width: 250px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.input {
    margin-bottom: 10px;
    width: 200px;
}

button {
    width: 125px;
    margin: 4px;
    border: 0;
    border-radius: 15px;
}

.city-container {
    border: 1px solid red;
    height: 250px;
}